@import "~@czi-sds/components/dist/variables";

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 2rem;
  font-size: 1rem;
}

.item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 2.5rem;
  padding: 0.5rem 0.75rem;
  border: 1px solid $sds-color-gray-400;
  border-radius: 0.5rem;
  text-decoration: none;
  color: $sds-color-gray-black;
  background-color: $sds-color-gray-white;

  &:hover {
    background-color: $sds-color-gray-100;
  }
}

a.item {
  cursor: pointer;
}

.current {
  font-weight: 700;
  color: $sds-color-primary-400 !important;
  cursor: default;
}

.disabled {
  color: $sds-color-gray-500;
  background-color: $sds-color-gray-100;
  cursor: not-allowed;
}

.ellipsis {
  color: $sds-color-gray-500;
  padding: 0 0.25rem;
}
