<p>Hello,</p>
<p>
  Thank you for your interest in SeqToID! <br/>
  We will be in touch soon to learn more about your work and how SeqToID can help you.<br/>
  If your team is already on SeqToID, ask a collaborator to add you to a project to get immediate access.
</p>
<p>
  Cheers,<br/> The SeqToID Team
</p>
