@import "~@czi-sds/components/dist/variables";

.cellWrapper {
  display: inline-flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
}

.cellPrimary {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 600;
  color: $sds-color-primary-500;
}

.cellSecondary {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.875rem;
  color: $sds-color-gray-500;
  font-style: italic;
}
