@import "~@czi-sds/components/dist/variables";

.searchContainer {
  margin: 0 auto 1.5rem;
  display: flex;
  width: 100%;
  max-width: 600px;
}

.searchInput {
  flex: 1;
  padding: 1rem 2rem;
  outline: none;
  border: 1px solid $sds-color-gray-300;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;

  &:focus {
    border-color: $sds-color-primary-400;
  }
}

.searchButton {
  padding: 1rem 1rem;
  background: $sds-color-primary-400;
  color: $sds-color-gray-white;
  cursor: pointer;
  outline: none;
  border: 1px solid $sds-color-primary-400;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;

  &:hover {
    background: $sds-color-primary-500;
  }
}
